<div>
	<h1><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark"
                           title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h1>
	{% if article.authors %}
        <address class="vcard author">
                Authors: {% for author in article.authors %}
                        <a class="url fn" href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a>
                {% endfor %}
        </address>
        {% endif %}
        <abbr class="published" title="{{ article.date.isoformat() }}">
                Updated: {{ article.locale_date }}
        </abbr>
	Type: <br>
	Keywords: {% include 'taglist.html' %}
</div>
