{% extends "base.html" %}
{% block html_lang %}{{ article.lang }}{% endblock %}
{% block head -%}
  <main>
  {{ super() -}}
  {% if article.summary %}
        <meta name="description" content="{{ article.summary | striptags | safe | truncate(150) }}" />
  {% endif %}
{% endblock %}

{% block title %}{{ article.title|striptags }}{% endblock %}

{% block content %}
<section id="content" class="body">
  <article>
    <header>
      <h1 class="entry-title"> {{ article.title }} </h1>
	    
	 <table>
    		<tr>
    			<th>Authors:</th>
    			<td>{% for author in article.authors %}
                                {% if loop.last %}
                                    <a class="url fn" href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a>
                                {% else %}
                                    <a class="url fn" href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a>,&nbsp;
                                {% endif %}
                            {% endfor %}
			</td>
    		</tr>
  		<tr>
    			<th>Updated:</th>
    			<td>{{ article.locale_date }}</td>
    		</tr>
		<tr>
    			<th>Source:</th>
    			<td><a href="{{ article.source }}">{{ article.source }}</a></td>
    		</tr>
		<tr>
    			<th>Type:</th>
    			<td>{{ article.type }}</td>
    		</tr>
		<tr>
    			<th>Languages:</th>
    			<td>{{ article.languages }}</td>
    		</tr>
		 <tr>
    			<th>Keywords:</th>
    			<td>	{% for tag in article.tags %}
					{% if loop.last %}
                                        	<a href="{{ SITEURL }}/{{ tag.url }}">{{ tag | escape }}</a> 
                                    	{% else %}
                                        	<a href="{{ SITEURL }}/{{ tag.url }}">{{ tag | escape }}</a>,&nbsp; 
                                    	{% endif %}
				{% endfor %}
			 </td>
    		</tr>
		<tr>
    			<th>Open Access:</th>
    			<td>{{ article.open_access }}</td>
    		</tr>
		<tr>
    			<th>License:</th>
    			<td>{{ article.license }}</td>
    		</tr>
		{% if article.documentation %}
		<tr>
    			<th>Documentation:</th>
    			<td><a href="{{ article.documentation }}">{{ article.documentation }}</a></td>
    		</tr>
		{% endif %}
		{% if article.tests %}
		<tr>
    			<th>Tests:</th>
    			<td><a href="{{ article.tests }}">{{ article.tests }}</a></td>
    		</tr>
		{% endif %}
		{% if article.coverage %}
		<tr>
    			<th>Coverage:</th>
    			<td><a href="{{ article.coverage }}">{{ article.coverage }}</a></td>
    		</tr>
		{% endif %}
		{% if article.reviews %}
		<tr>
    			<th>Reviews:</th>
    			<td><a href="{{ article.reviews }}">{{ article.reviews }}</a></td>
    		</tr>
		{% endif %}
		{% if article.publications %}
		<tr>
    			<th>Publications:</th>
    			<td>{{ article.publications }}</td>
    		</tr>
		{% endif %}
		{% if article.citation %}
		<tr>
    			<th>Citation:</th>
    			<td>{{ article.citation }}</td>
    		</tr>
		{% endif %}
		<tr>
			<th>Summary:</th>
			<td>{{ article.summary }}</td>
	    	</tr>
	</table> 
		
  </article>
</section>
</main>
{% endblock %}