{% extends "base.html" %}
{% block html_lang %}{{ article.lang }}{% endblock %}
{% block head -%}
  {{ super() -}}
  {% if article.summary %}
        <meta name="description" content="{{ article.summary | striptags | safe | truncate(150) }}" />
  {% endif %}
{% endblock %}

{% block title %}{{ article.title|striptags }}{% endblock %}

{% block extra_head %}
{% import 'translations.html' as translations with context %}
{% if translations.entry_hreflang(article) %}
  {{ translations.entry_hreflang(article) }}
{% endif %}
{% endblock %}

{% block content %}
<section id="content" class="body">
  <article>
    <header>
      <h1 class="entry-title"> {{ article.title }} </h1>
      <ul>
        <li>
          <strong>Authors:</strong>&nbsp;&nbsp; 
                          {% for author in article.authors %}
                            <a class="url fn" href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a> 
                          {% endfor %}
        </li>
        <li>
          <strong>Updated:</strong>&nbsp;&nbsp; {{ article.locale_date }}
        </li>
        <li>
          <strong>Source:</strong>&nbsp;&nbsp; <a> {{ article.source }} </a>
        </li>
      </ul>
<!--
type: Julia package
languages: cross-linguistic
tags: julia, vowels, plotting, lexicon, acoustic-distance, neighborhood-density, phonotactic-probability
open_access: yes
license: MIT
documentation: https://maetshju.github.io/Phonetics.jl/dev/
tests: https://github.com/maetshju/Phonetics.jl/blob/master/test/runtests.jl
coverage: https://codecov.io/gh/maetshju/Phonetics.jl
shortdesc: A collection of functions to analyze phonetic data in Julia.
summary: A collection of functions to analyze phonetic data in Julia.
      {% if article.authors %}
        <address class="vcard author">
                Authors: {% for author in article.authors %}
                        <a class="url fn" href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a>
                {% endfor %}
        </address>
        {% endif %}
        <abbr class="published" title="{{ article.date.isoformat() }}">
                Updated: {{ article.locale_date }}
        </abbr>
	Type: <br>
	Keywords: {% include 'taglist.html' %}
    </header>
-->
  </article>
</section>
{% endblock %}
