{% extends "base.html" %}
{% block content_title %}{% endblock %}
{% block content %}
{% if articles %}
    {% for article in articles_page.object_list %}
        
        <div class="note">
	        <h1><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h1>
	        {% if article.authors %}
                Authors:&nbsp;  {% for author in article.authors %}
                                    {% if loop.last %}
                                        <a class="url fn" href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a>
                                    {% else %}
                                        <a class="url fn" href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a>,&nbsp;
                                    {% endif %}
                                {% endfor %}
            {% endif %} <br>
                Updated:&nbsp; {{ article.locale_date }} <br>
            {% if article.resource_type %}
                Type:&nbsp; {% for rt in article.resource_type %}
                                    {% if loop.last %}
                                        {{rt}} 
                                    {% else %}
                                        {{rt}},&nbsp; 
                                    {% endif %}
                            {% endfor %}
            {% endif %} <br>
            {% if article.tags %}
                Keywords:&nbsp; {% for tag in article.tags %}
                                    {% if loop.last %}
                                        <a href="{{ SITEURL }}/{{ tag.url }}">{{ tag | escape }}</a> 
                                    {% else %}
                                        <a href="{{ SITEURL }}/{{ tag.url }}">{{ tag | escape }}</a>,&nbsp; 
                                    {% endif %}
                                {% endfor %}
            {% endif %}
        </div>
        
        <br>
        
        {% if loop.last %}
            {% if loop.length > 1 or articles_page.has_other_pages() %}
                {% if articles_page.has_other_pages() %}
                    {% include 'pagination.html' %}
                {% endif %}
            {% endif %}
        {% endif %}

    {% endfor %}

{% else %}
<section id="content" class="body">
    {% if pages %}
    <h2>Pages</h2>
    <ul>
    {% for page in pages %}
        <li><a href="{{ SITEURL }}/{{ page.url }}">{{ page.title }}</a></li>
    {% endfor %}
    </ul>
    {% else %}
    <p>This site currently has no content.</p>
    {% endif %}
</section>
{% endif %}
{% endblock content %}
