{% extends "base.html" %}
{% block content_title %}{% endblock %}
{% block content %}
{% if articles %}
    <ol>
    {% for article in articles_page.object_list %}
        <li>
            <aside id="featured" class="body">
                <!-- <article> -->
                    {% include 'article_infos.html' %}
                <!-- </article> -->
            </aside>
        </li>
        {% if loop.last %}
            {% if loop.length > 1 or articles_page.has_other_pages() %}
                {% if articles_page.has_other_pages() %}
                    </ol>
                    {% include 'pagination.html' %}
                {% endif %}
            {% endif %}
        {% endif %}
    {% endfor %}
{% else %}
<section id="content" class="body">
    {% if pages %}
    <h2>Pages</h2>
    <ul>
    {% for page in pages %}
        <li><a href="{{ SITEURL }}/{{ page.url }}">{{ page.title }}</a></li>
    {% endfor %}
    </ul>
    {% else %}
    <p>This site currently has no content.</p>
    {% endif %}
</section>
{% endif %}
{% endblock content %}
